/**--------Text Styles-------**/
* {
  box-sizing: border-box;
}



.navigation {
  margin: auto;
  width: 100%;
}



.navigation a {
  text-align: center;
  font-size: 2em;
  padding-right: 15px
}



body{
  background-color: white;
}



h1 {
  color : black;
}



p {
  font-family: "Roboto", sans-serif;
}
